USE [master]
GO
/****** Object:  Database [KHOAHOC]    Script Date: 11/07/2023 9:03:15 PM ******/
CREATE DATABASE [KHOAHOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KHOAHOC', FILENAME = N'D:\Data\KHOAHOC.mdf' , SIZE = 28672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KHOAHOC_log', FILENAME = N'D:\Data\KHOAHOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KHOAHOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KHOAHOC]
GO
/****** Object:  Table [dbo].[BAI_HOC]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI_HOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ChudeID] [int] NOT NULL,
	[Ngaytao] [datetime] NOT NULL,
	[Icon] [nvarchar](550) NULL,
	[Mucdichyeucau] [nvarchar](max) NULL,
	[Mota] [nvarchar](max) NULL,
	[Trangthai] [bit] NOT NULL,
	[VIP] [bit] NOT NULL,
 CONSTRAINT [PK_BAI_HOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHU_DE]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_DE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[KhoahocID] [int] NOT NULL,
	[Ngaytao] [datetime] NOT NULL,
	[Icon] [nvarchar](550) NULL,
	[Mucdichyeucau] [nvarchar](max) NULL,
	[Mota] [nvarchar](max) NULL,
	[Trangthai] [bit] NOT NULL,
	[VIP] [bit] NOT NULL,
 CONSTRAINT [PK_CHU_DE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANG_KY_KHOA_HOC]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_KY_KHOA_HOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HocvienID] [int] NOT NULL,
	[KhoahocID] [int] NOT NULL,
	[Ngaydangky] [datetime] NOT NULL,
	[Xacnhan] [bit] NOT NULL,
 CONSTRAINT [PK_DANG_KY_KHOA_HOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Cot] [int] NOT NULL,
	[Code] [nvarchar](150) NOT NULL,
	[Trangthai] [bit] NOT NULL,
 CONSTRAINT [PK_GIAO_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_VIEN]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Cos] [int] NOT NULL,
	[Trangthai] [bit] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOC_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA_HOC]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_HOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[GiaovienID] [int] NOT NULL,
	[Ngaytao] [datetime] NOT NULL,
	[Ngaybatdau] [datetime] NULL,
	[Ngayketthuc] [datetime] NULL,
	[Hoctudo] [bit] NOT NULL,
	[Icon] [nvarchar](550) NOT NULL,
	[Mucdichyeucau] [nvarchar](max) NULL,
	[Mota] [nvarchar](max) NULL,
	[Trangthai] [bit] NOT NULL,
	[VIP] [bit] NOT NULL,
 CONSTRAINT [PK_KHOA_HOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_LIEU]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_LIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Link] [nvarchar](350) NOT NULL,
	[Icon] [nvarchar](250) NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[Thutu] [int] NOT NULL,
	[VIP] [bit] NOT NULL,
	[Luottai] [int] NOT NULL,
	[Trangthai] [bit] NOT NULL,
	[Ngaytai] [datetime] NOT NULL,
	[BaihocID] [int] NOT NULL,
 CONSTRAINT [PK_TAI_LIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_TAI_LIEU]    Script Date: 11/07/2023 9:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_TAI_LIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GiaovienID] [int] NULL,
	[HocvienID] [int] NULL,
	[Ngaytai] [datetime] NOT NULL,
	[TailieuID] [int] NOT NULL,
 CONSTRAINT [PK_TAI_TAI_LIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BAI_HOC_CHU_DE] FOREIGN KEY([ChudeID])
REFERENCES [dbo].[CHU_DE] ([ID])
GO
ALTER TABLE [dbo].[BAI_HOC] CHECK CONSTRAINT [FK_BAI_HOC_CHU_DE]
GO
ALTER TABLE [dbo].[CHU_DE]  WITH CHECK ADD  CONSTRAINT [FK_CHU_DE_KHOA_HOC] FOREIGN KEY([KhoahocID])
REFERENCES [dbo].[KHOA_HOC] ([ID])
GO
ALTER TABLE [dbo].[CHU_DE] CHECK CONSTRAINT [FK_CHU_DE_KHOA_HOC]
GO
ALTER TABLE [dbo].[DANG_KY_KHOA_HOC]  WITH CHECK ADD  CONSTRAINT [FK_DANG_KY_KHOA_HOC_HOC_VIEN] FOREIGN KEY([HocvienID])
REFERENCES [dbo].[HOC_VIEN] ([ID])
GO
ALTER TABLE [dbo].[DANG_KY_KHOA_HOC] CHECK CONSTRAINT [FK_DANG_KY_KHOA_HOC_HOC_VIEN]
GO
ALTER TABLE [dbo].[DANG_KY_KHOA_HOC]  WITH CHECK ADD  CONSTRAINT [FK_DANG_KY_KHOA_HOC_KHOA_HOC] FOREIGN KEY([KhoahocID])
REFERENCES [dbo].[KHOA_HOC] ([ID])
GO
ALTER TABLE [dbo].[DANG_KY_KHOA_HOC] CHECK CONSTRAINT [FK_DANG_KY_KHOA_HOC_KHOA_HOC]
GO
ALTER TABLE [dbo].[KHOA_HOC]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_HOC_GIAO_VIEN] FOREIGN KEY([GiaovienID])
REFERENCES [dbo].[GIAO_VIEN] ([ID])
GO
ALTER TABLE [dbo].[KHOA_HOC] CHECK CONSTRAINT [FK_KHOA_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[TAI_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_TAI_LIEU_BAI_HOC] FOREIGN KEY([BaihocID])
REFERENCES [dbo].[BAI_HOC] ([ID])
GO
ALTER TABLE [dbo].[TAI_LIEU] CHECK CONSTRAINT [FK_TAI_LIEU_BAI_HOC]
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_TAI_TAI_LIEU_GIAO_VIEN] FOREIGN KEY([GiaovienID])
REFERENCES [dbo].[GIAO_VIEN] ([ID])
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU] CHECK CONSTRAINT [FK_TAI_TAI_LIEU_GIAO_VIEN]
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_TAI_TAI_LIEU_HOC_VIEN] FOREIGN KEY([HocvienID])
REFERENCES [dbo].[HOC_VIEN] ([ID])
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU] CHECK CONSTRAINT [FK_TAI_TAI_LIEU_HOC_VIEN]
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_TAI_TAI_LIEU_TAI_LIEU] FOREIGN KEY([TailieuID])
REFERENCES [dbo].[TAI_LIEU] ([ID])
GO
ALTER TABLE [dbo].[TAI_TAI_LIEU] CHECK CONSTRAINT [FK_TAI_TAI_LIEU_TAI_LIEU]
GO
USE [master]
GO
