@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>THÔNG TIN GIÁO VIÊN</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new">
                    Thêm mới
                </button>
            </div>
            <div class="col-md-3">
                <span>Số dòng/trang</span>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <div class="dropdown" style="float:right">
                    <select class="form-select" aria-label="Default select example" id="status">
                        <option selected value="1">Trạng thái</option>
                        <option value="1">Đang dạy</option>
                        <option value="0">Đã nghỉ</option>

                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Họ tên nhân viên
                    </th>
                    <th>
                        Tuổi
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Số ĐT
                    </th>
                    <th>
                        Ngày vào làm
                    </th>
                    <th>
                        Ảnh đại điện
                    </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody id="tbData"></tbody>
            <tfoot>
                <tr>
                    <th colspan="100" id="pages">

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



<div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>THÊM GIẢNG VIÊN</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Họ tên giảng viên
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Tên Đăng Nhập
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="username" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Password
                                                </span>
                                            </div>
                                            <input type="password" class="form-control bg-white" id="password" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Email
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="email" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Cot
                                                </span>
                                            </div>
                                            <input type="number" class="form-control bg-white" id="cot" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Code
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="code" />
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Trạng thái
                                                </span>
                                            </div>
                                            <select class="form-select" aria-label="Default select example" id="cre_status">
                                           
                                                <option selected value="1">Đang dạy</option>
                                                <option value="0">Đã nghỉ</option>
                                            </select>
                                        </div>
                                    </div>
                                   


                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="create" class="btn btn-primary" data-bs-dismiss="modal">Thêm mới</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>CHỈNH SỬA GIÁO VIÊN</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Họ tên giáo viên
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="edit_name" />
                                            <input type="number" hidden id="edit_id" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Tên Đăng Nhập
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="edit_username" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Mật Khẩu
                                                </span>
                                            </div>
                                            <input type="password" class="form-control bg-white" id="edit_password" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Email
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="edit_email" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Cot
                                                </span>
                                            </div>
                                            <input type="number" class="form-control bg-white" id="edit_cot" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Code
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="edit_code" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 p-1">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        Trạng thái
                                                    </span>
                                                </div>
                                                <select class="form-select" aria-label="Default select example" id="edit_status">
                                                    
                                                    <option  selected value="1">Đang làm</option>
                                                    <option value="0">Đã nghỉ</option>
                                                </select>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" id="save" class="btn btn-primary" data-bs-dismiss="modal">Chỉnh sửa</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script>


        var giaovien = {
            init: function () {
                giaovien.search(1);
                $("#search").change(function () {
                    giaovien.search(1);
                });
                $("#Pagesize").change(function () {
                    giaovien.search(1);
                });
                $("#status").change(function () {
                    giaovien.search(1);
                });
                $("#create").click(function () {
                    giaovien.create();
                    giaovien.search(1);
                });
                $('#update').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var id = button.data('whatever')

                    giaovien.getGiaovien(id);

                });
                $("#save").click(function () {
                    giaovien.save();
                    giaovien.search(1);
                });
            },
            search: function (index) {
                var name = $("#search").val();
                var status = $("#status").val();          
                if (name == null) name = "";
                var size = $("#Pagesize").val();
                var form = new FormData()
                form.append("name", name);
                form.append("status", status);                       
                form.append("index", index);
                form.append("size", size);            
                $.ajax({
                    type: 'Post',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/giaovien/ShowList/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#pages").html(res.page);
                    },
                    error: function () {
                        alert("Co loi xay ra");
                    }
                });
            },
            create: function () {
                var name = $("#name").val();
                var username = $("#username").val();
                var password = $("#password").val();
                var email = $("#email").val();
                var cot = $("#cot").val();
                var code = $("#code").val();
                var status = $("#cre_status").val();
                var form = new FormData()
                form.append("name", name);
                form.append("username", username);
                form.append("password", password);
                form.append("email", email);
                form.append("cot", cot);
                form.append("code", code);
                form.append("status", status);
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/giaovien/Create/',//Duong dan API
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },
            getGiaovien: function (id) {
                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/Admin/giaovien/getGiaovien/' +id,
                    success: function (res) {

                        $("#edit_id").val(res.data.Id);
                        $("#edit_name").val(res.data.Name);
                        $("#edit_username").val(res.data.Username);
                        $("#edit_password").val(res.data.Password);
                        $("#edit_email").val(res.data.Email);
                        $("#edit_cot").val(res.data.Cot);
                        $("#edit_code").val(res.data.Code);
                        $("#edit_status").val(res.data.Trangthai);
                    }
                });
            },

             save: function () {
                var id = $("#edit_id").val();
                var name = $("#edit_name").val();
                var username = $("#edit_username").val();
                var password = $("#edit_password").val();
                var email = $("#edit_email").val();
                var cot = $("#edit_cot").val();
                var code = $("#edit_code").val();
                var status = $("#edit_status").val();             
                var form = new FormData()
                form.append("id", id);
                form.append("name", name);
                form.append("username", username);
                form.append("password", password);
                form.append("email", email);
                form.append("cot", cot);
                form.append("code", code);
                form.append("status", status);
               
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/giaovien/Update/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },
         
           

        }
        giaovien.init();
        function goto(i) {
            giaovien.search(i);
        }
    </script>
}
